// | -------------------------------------------------------------
// | Container
// | -------------------------------------------------------------

@use "breakpoint" as *;

.container {
  margin: 0 auto;
  padding: 0 calc(4rem / 2);
  max-width: 100%;

  @include breakpoint(medium) {
    padding: 0 3rem;
  }

  @include breakpoint(large) {
    padding: 0 calc(2rem / 2);
    max-width: 2560px;
  }

  &.stretch {
    max-width: 100%;
  }
}