---
import BlockRenderer from '../BlockRenderer.astro';
import PageIntro from '../PageIntro.astro'

const { data } = Astro.props;
const pageTitle = data.title;
const pageIntroduction = data.content;
const pageContent = data.pageContent?.content;



  console.log("pageTitle", data.content);
  console.log("pageIntroduction", data.title);



---

{pageTitle &&
<header>
  <h1>{pageTitle}</h1>
</header>
}

<PageIntro>
  {pageIntroduction &&
    <Fragment slot="column-one" set:html={pageIntroduction} />
  }
</PageIntro>

{
  pageContent && (
    <article class="page">
      <BlockRenderer prefix="PageContent" blocks={pageContent} />
    </article>
  )
}

<style>
  .page {
    padding: var(--site-padding);
    
  }
</style>
