---
// Import Components & Scripts
import { Image } from 'astro:assets'

// Define Types
interface Props{
  sourceUrl: string;
  size?: "inline" | "popout" | "feature" | "full" | "inherit";
  altText?: string;
  titleText?: string;
  showCaption?: boolean;
  captionText?: string;
}

// Define Vars
const { sourceUrl, size, altText, titleText, showCaption, captionText } = Astro.props;
---

<!--ImageBlock -->
{sourceUrl && 
<div class:list={['imageblock',size]}>
  <Image 
    src={sourceUrl}
    inferSize
    widths={[540, 960, 1440, 1920]}
    sizes={`(max-width: 360px) 540px, (max-width: 720px) 960px, (max-width: 1600px) 1440px, 1920px`}
    format='avif'
    alt={altText || titleText || ""} 
    title={titleText || ""}
    class="imageblock-img"
  />
  {showCaption &&
    <p class="imageblock-caption" set:html={captionText} />
  }
</div>
}
<style>

</style>