---
// Import Components & Scripts
import { Image } from 'astro:assets'

// Define Types
interface Props{
  sourceUrl: string;
  altText?: string;
  titleText?: string;
  size?: "inline" | "popout" | "feature" | "full" | "inherit";
}

// Define Vars
const { sourceUrl, altText, titleText, size,  } = Astro.props;
---
<div class="image-block">
  <Image 
    src={sourceUrl} 
    width="10";
    height="10";
    widths={[240, 540, 720]}
    sizes={`(max-width: 360px) 240px, (max-width: 720px) 540px, (max-width: 1600px) 720px`}
    format='webp'
    alt={altText || ""} 
  />
</div>
