---
// Import Components & Scripts
import { Image } from 'astro:assets'

// Define Types
interface Props{
  sourceUrl: string;
  altText?: string;
  titleText?: string;
  size?: "inline" | "popout" | "feature" | "full" | "inherit";
}

// Define Vars
const { sourceUrl, altText, titleText, size,  } = Astro.props;
---

{sourceUrl && 
<div class:list={['image-block', size]}>
  <Image 
    src={sourceUrl} 
    inferSize
    densities={[1.5, 2]}
    format='webp'
    alt={altText || ""} 
    title={titleText || ""}
  />
</div>
}