---
type Props = {
  size: string
  altText: string
  sourceUrl: string
}

const { sourceUrl, size, altText } = Astro.props

import { Image } from 'astro:assets'
---

<div class="full">
  <Image src={sourceUrl} alt={altText} class="aspect-auto w-full object-cover" width="100" height="100" />
</div>
