---
// Import Content Block Components
import TextBlock from '../blocks/TextBlock.astro'
import ImageBlock from '../blocks/ImageBlock.astro'
import VideoBlock from '../blocks/VideoBlock.astro'


const { cols } = Astro.props
---

<div class="project-multicols full">
   {cols &&
    cols.map((col) => {
       console.log(col);
      switch (col.contentType) {
        case 'image': // Image
          if(!col.showText){
            return (
              <div class="col"><ImageBlock sourceUrl={col.image?.node?.sourceUrl || ""} altText={col.image?.node?.altText || ""} /></div>
            )
          }else{
            return (
              <div class="col">
                <ImageBlock sourceUrl={col.image?.node?.sourceUrl || ""} altText={col.image?.node?.altText || ""} />
                <TextBlock title={col.title || ""} content={col.text || ""}  />
              </div>
            )
          }
        case 'video': //Videoblock
        if(!col.showText){
            return <div class="col"><VideoBlock /></div>
          }else{
            return (
              <div class="col">
               <VideoBlock />
                <TextBlock title={col.title || ""} content={col.text || ""}  />
              </div>
            )
          }
        case 'text':  // Textblock
        default:
          return <TextBlock title={col.title || ""} content={col.text || ""}  />
      }
    })
  }
  <!-- <div class="col">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut, doloribus iste? Voluptas commodi officiis voluptate.
    Iure, corrupti dolorum earum quia nisi incidunt molestias magnam ipsa ad quae, cum soluta totam!
  </div>
  <div class="col">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum dolorem quos cupiditate ex in, suscipit, odio maxime,
    accusantium molestias error vitae accusamus. Commodi iusto voluptas esse odit veniam voluptate dolorem?
  </div>
  <div class="col">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequatur aliquid, ullam perspiciatis accusamus, enim
    maiores, dolores aut in dolor commodi beatae laborum. Impedit, dignissimos porro? Quibusdam, deleniti cumque!
    Tempora, odio.
  </div>
  <div class="col">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequatur aliquid, ullam perspiciatis accusamus, enim
    maiores, dolores aut in dolor commodi beatae laborum. Impedit, dignissimos porro? Quibusdam, deleniti cumque!
    Tempora, odio.
  </div> -->
</div>

<style>
  .project-multicols {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: var(--grid-gutter);
  }
</style>
