---
// Import Components & Scripts
import { Image } from 'astro:assets'

// Define Types
interface Props{
    quote?: string;
    name?: string;
    role?: string;
    photoSourceUrl?: string;
    photoAltText?: string;
    photoTitleText?: string;
}
// Define Vars
const { quote, name, role, photoSourceUrl, photoAltText, photoTitleText } = Astro.props;
---
<!--TestimonialBlock-->
<div class:list={['testimonialblock']}>
   <blockquote class="testimonialblock-quote">{quote}</blockquote>
    <div class="testimonialblock-details">
        {photoSourceUrl &&
        <Image 
            src={photoSourceUrl}
            width="10";
            height="10";
            widths={[540, 960, 1440, 1920]}
            sizes={`(max-width: 360px) 540px, (max-width: 720px) 960px, (max-width: 1600px) 1440px, 1920px`}
            format='webp'
            alt={photoAltText || photoTitleText || ""} 
            title={photoTitleText || ""}
            class="testimonialblock-img"
        />
        }
         <div class="testimonialblock-person">
            <h3 class="testimonialblock-name">{name}</h3>
            <h4 class="testimonialblock-role">{role}</h4>
        </div>
    </div>
</div>

<style>
    .testimonialblock-details {
        display: flex;
        align-items: center;
        gap: 1rem;
    }
    .testimonialblock-person {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        object-fit: cover;
    }

    h3, h4 {
        margin: 0;
        line-height: 1;
    }
</style>
