---
// Import Components & Scripts

// Define Types
interface Props{
  title?: string;
  content?: string;
  size?: "inline" | "popout" | "feature" | "full" | "inherit";
}

// Define Vars
const { title = "", content = "", size = "" } = Astro.props;
---

<!--TextBlock -->
<div class:list={['textblock',size]}>
  {title &&
    <h2 class="textblock-title" set:html={title} />
  }
  <div class="textblock-content" set:html={content}  />
</div>