---
const {url, type, size} = Astro.props;

console.log("custom video embed", url,type);
---

<div class:list={['custom-video', size]}>
  <video
    preload="metadata"
    tabindex="-1"
    disablepictureinpicture
    playsinline
    loop
    title=""
    src={url}
    autoplay={true}
    muted
  />
</div>