---
const { url, type, size } = Astro.props;
---

<div class:list={['custom-video', size, type]}>
  <video
    preload="metadata"
    tabindex="-1"
    disablepictureinpicture
    playsinline
    loop
    muted
    title=""
    src={url}
    autoplay
  />
</div>