---
// Import Components & Scripts

// Define Types
interface Props{
  url: string;
  type?: string;
  size?: "inline" | "popout" | "feature" | "full" | "inherit";
}

// Define Vars
const { url, type, size } = Astro.props;
---

<!--VideoBlock -->
<div class:list={['videoblock', size, type]}>
  <video
    preload="metadata"
    tabindex="-1"
    disablepictureinpicture
    playsinline
    loop
    muted
    title=""
    src={url}
    autoplay
    class="videoblock-video"
  />
</div>