---
const {url, type, size} = Astro.props;
---

<div class:list={['custom-video', size, type]}>
  <video
    preload="metadata"
    tabindex="-1"
    disablepictureinpicture
    playsinline
    loop
    title=""
    src={url}
    autoplay={true}
    muted
  />
</div>