---
---
<section class="carousel-gallery">
  <div class="carousels">
    <!-- Background Carousel -->
    <div class="carousel carousel-background swiper">
      <!-- Slides -->
      <div role="list" class="swiper-wrapper">
        <!-- Slide -->
        <div role="group" class="swiper-slide">
          <!-- Video -->
          <div class="video-wrapper">
            <div class="video-overlay">
              <video class="video" playsinline="" loop="" muted="" autoplay="">
                <source
                  src="https://assets-global.website-files.com/652e94d9295cf0f25e8f370e/654b828223d944492487b176_IIVO_Benefit_Banner_3_v1-transcode.mp4"
                />
              </video>
            </div>
          </div>
          <!-- Image -->
          <img
            src="https://cdn.prod.website-files.com/652e95f945884e792746f7e7/654b822b564a3d23c5d198c1_Hoogendoorn-Customer-Benefits-Campaign-Thumbnail-16x9.png"
            alt="Customer Benefit Campagne"
            sizes="100vw"
            srcset="https://cdn.prod.website-files.com/652e95f945884e792746f7e7/654b822b564a3d23c5d198c1_Hoogendoorn-Customer-Benefits-Campaign-Thumbnail-16x9-p-500.png 500w, https://cdn.prod.website-files.com/652e95f945884e792746f7e7/654b822b564a3d23c5d198c1_Hoogendoorn-Customer-Benefits-Campaign-Thumbnail-16x9-p-800.png 800w, https://cdn.prod.website-files.com/652e95f945884e792746f7e7/654b822b564a3d23c5d198c1_Hoogendoorn-Customer-Benefits-Campaign-Thumbnail-16x9-p-1080.png 1080w, https://cdn.prod.website-files.com/652e95f945884e792746f7e7/654b822b564a3d23c5d198c1_Hoogendoorn-Customer-Benefits-Campaign-Thumbnail-16x9-p-1600.png 1600w, https://cdn.prod.website-files.com/652e95f945884e792746f7e7/654b822b564a3d23c5d198c1_Hoogendoorn-Customer-Benefits-Campaign-Thumbnail-16x9.png 1920w"
            class="poster"
          />
        </div>

        <!-- Slide -->
        <div role="group" class="swiper-slide">
          <!-- Image -->
          <img
            src="https://cdn.prod.website-files.com/652e95f945884e792746f7e7/6548c08f3958da44b00f7fd0_PUMA-World-Athletics-Champs-16x9-FULL-THUMB.png"
            alt="World Athletics Championships"
            sizes="100vw"
            srcset="https://cdn.prod.website-files.com/652e95f945884e792746f7e7/6548c08f3958da44b00f7fd0_PUMA-World-Athletics-Champs-16x9-FULL-THUMB-p-500.png 500w, https://cdn.prod.website-files.com/652e95f945884e792746f7e7/6548c08f3958da44b00f7fd0_PUMA-World-Athletics-Champs-16x9-FULL-THUMB-p-800.png 800w, https://cdn.prod.website-files.com/652e95f945884e792746f7e7/6548c08f3958da44b00f7fd0_PUMA-World-Athletics-Champs-16x9-FULL-THUMB-p-1080.png 1080w, https://cdn.prod.website-files.com/652e95f945884e792746f7e7/6548c08f3958da44b00f7fd0_PUMA-World-Athletics-Champs-16x9-FULL-THUMB-p-1600.png 1600w, https://cdn.prod.website-files.com/652e95f945884e792746f7e7/6548c08f3958da44b00f7fd0_PUMA-World-Athletics-Champs-16x9-FULL-THUMB.png 1920w"
            class="poster"
          />
        </div>

        <!-- Slide -->
        <div role="group" class="swiper-slide">
           <!-- Image -->
           <img
           src="https://cdn.prod.website-files.com/652e95f945884e792746f7e7/6548c08f3958da44b00f7fd0_PUMA-World-Athletics-Champs-16x9-FULL-THUMB.png"
           alt="World Athletics Championships"
           sizes="100vw"
           srcset="https://cdn.prod.website-files.com/652e95f945884e792746f7e7/6548c08f3958da44b00f7fd0_PUMA-World-Athletics-Champs-16x9-FULL-THUMB-p-500.png 500w, https://cdn.prod.website-files.com/652e95f945884e792746f7e7/6548c08f3958da44b00f7fd0_PUMA-World-Athletics-Champs-16x9-FULL-THUMB-p-800.png 800w, https://cdn.prod.website-files.com/652e95f945884e792746f7e7/6548c08f3958da44b00f7fd0_PUMA-World-Athletics-Champs-16x9-FULL-THUMB-p-1080.png 1080w, https://cdn.prod.website-files.com/652e95f945884e792746f7e7/6548c08f3958da44b00f7fd0_PUMA-World-Athletics-Champs-16x9-FULL-THUMB-p-1600.png 1600w, https://cdn.prod.website-files.com/652e95f945884e792746f7e7/6548c08f3958da44b00f7fd0_PUMA-World-Athletics-Champs-16x9-FULL-THUMB.png 1920w"
           class="poster"
         />
        </div>
        <!-- Slide -->
        <div role="group" class="swiper-slide">
           <!-- Image -->
           <img
           src="https://cdn.prod.website-files.com/652e95f945884e792746f7e7/6548c08f3958da44b00f7fd0_PUMA-World-Athletics-Champs-16x9-FULL-THUMB.png"
           alt="World Athletics Championships"
           sizes="100vw"
           srcset="https://cdn.prod.website-files.com/652e95f945884e792746f7e7/6548c08f3958da44b00f7fd0_PUMA-World-Athletics-Champs-16x9-FULL-THUMB-p-500.png 500w, https://cdn.prod.website-files.com/652e95f945884e792746f7e7/6548c08f3958da44b00f7fd0_PUMA-World-Athletics-Champs-16x9-FULL-THUMB-p-800.png 800w, https://cdn.prod.website-files.com/652e95f945884e792746f7e7/6548c08f3958da44b00f7fd0_PUMA-World-Athletics-Champs-16x9-FULL-THUMB-p-1080.png 1080w, https://cdn.prod.website-files.com/652e95f945884e792746f7e7/6548c08f3958da44b00f7fd0_PUMA-World-Athletics-Champs-16x9-FULL-THUMB-p-1600.png 1600w, https://cdn.prod.website-files.com/652e95f945884e792746f7e7/6548c08f3958da44b00f7fd0_PUMA-World-Athletics-Champs-16x9-FULL-THUMB.png 1920w"
           class="poster"
         />
        </div>
        <!-- Slide -->
        <div role="group" class="swiper-slide">
           <!-- Image -->
           <img
           src="https://cdn.prod.website-files.com/652e95f945884e792746f7e7/6548c08f3958da44b00f7fd0_PUMA-World-Athletics-Champs-16x9-FULL-THUMB.png"
           alt="World Athletics Championships"
           sizes="100vw"
           srcset="https://cdn.prod.website-files.com/652e95f945884e792746f7e7/6548c08f3958da44b00f7fd0_PUMA-World-Athletics-Champs-16x9-FULL-THUMB-p-500.png 500w, https://cdn.prod.website-files.com/652e95f945884e792746f7e7/6548c08f3958da44b00f7fd0_PUMA-World-Athletics-Champs-16x9-FULL-THUMB-p-800.png 800w, https://cdn.prod.website-files.com/652e95f945884e792746f7e7/6548c08f3958da44b00f7fd0_PUMA-World-Athletics-Champs-16x9-FULL-THUMB-p-1080.png 1080w, https://cdn.prod.website-files.com/652e95f945884e792746f7e7/6548c08f3958da44b00f7fd0_PUMA-World-Athletics-Champs-16x9-FULL-THUMB-p-1600.png 1600w, https://cdn.prod.website-files.com/652e95f945884e792746f7e7/6548c08f3958da44b00f7fd0_PUMA-World-Athletics-Champs-16x9-FULL-THUMB.png 1920w"
           class="poster"
         />
        </div>
      </div>
    </div>
    <!-- Foreground Carousel -->
    <div class="carousel carousel-foreground swiper">
        <div role="list" class="swiper-wrapper">
          <div role="group" class="swiper-slide"><h3>client</h3><h1>Caption 1</h1></div>
          <div role="group" class="swiper-slide"><h3>client</h3><h1>Caption 2</h1></div>
          <div role="group" class="swiper-slide"><h3>client</h3><h1>Caption 3</h1></div>
          <div role="group" class="swiper-slide"><h3>client</h3><h1>Caption 4</h1></div>
          <div role="group" class="swiper-slide"><h3>client</h3><h1>Caption 5</h1></div>
        </div>
    </div>
    <!-- Carousel Controls -->
    <div class="controls swiper-controls">
      <div class="controls-wrapper">
        <a href="#" class="control-button swiper-button-prev">
          <div class="control-button_icon is_reversed">
            <svg
              width="24px"
              height="24px"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
              ><path
                d="M5 12h14m0 0-7-7m7 7-7 7"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"></path></svg
            >
          </div>
        </a>
        <a href="#" class="control-button swiper-button-next">
          <div class="control-button_icon">
            <svg
              width="24px"
              height="24px"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
              ><path
                d="M5 12h14m0 0-7-7m7 7-7 7"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"></path></svg
            >
          </div>
        </a>
        <div class="control-indicator swiper-indicator">
          <p class="swiper-counter">
            <span class="swiper-number-current">00</span> &mdash;
            <span class="swiper-number-total">00</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<script src="../lib/swiper.js"></script>

<style>/* Algemene instellingen voor de carousel gallery */
  .carousel-gallery {
    display: flex;
    flex-direction: column;  
    width: 100%;
    height: 80vh;
    position: relative;
    overflow: hidden;
  }
  
  .carousels {
    padding:0;
    margin: 0;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
  /* Achtergrond carousel instellingen */
  .carousel-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; /* Achtergrond */
  }
  
  .carousel-background .swiper-slide {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden; /* Zorgt ervoor dat de inhoud in de viewport past */
  }
  
  .carousel-background .video-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2; /* Zorgt ervoor dat de video boven de afbeelding ligt */
  }
  
  .carousel-background .video,
  .carousel-background video {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Past de video aan om de hele slide te bedekken */
  }
  
  .carousel-background .poster ,
  .carousel-background img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Past de afbeelding aan om de hele slide te bedekken */
    z-index: 1; /* Zorgt ervoor dat de afbeelding onder de video ligt */
  }
  
  /* Voorgrond carousel instellingen */
  .carousel-foreground {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 2; /* Voorgrond */
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    pointer-events: none; /* Zorgt ervoor dat alleen de controls klikbaar zijn */
  }
  .carousel-foreground .swiper-wrapper{
    width:100%;
    height: 100%;
    padding: 20px;
  }
  .carousel-foreground .swiper-slide {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: stretch;
    color: white;
    pointer-events: auto; /* Zorgt ervoor dat de slides klikbaar zijn */
    min-height: 100%; /* Zorgt ervoor dat de slides 100% van de hoogte innemen */
    min-width: 100%; /* Zorgt ervoor dat de slides 100% van de breedte innemen */
    padding: 0;
    margin: 0;
    overflow: hidden;
  }
  
  /* Control instellingen */
  .controls {
    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: 3; /* Boven beide carousels */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .controls-wrapper {
    display: flex;
    align-items: center
  }  

  .controls {
    z-index: 10;
    grid-column-gap: 0em;
    grid-row-gap: 1.5em;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(1, 1, 1, .6));
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    display: flex;
    position: absolute;
    top: auto;
    bottom: 0%;
    left: 0%;
    right: 0%;
    padding: 20px;
  }
  .controls-wrapper{
    grid-column-gap: .5rem;
    grid-row-gap: .5rem;
    flex-wrap: wrap;
    flex: 0 auto;
    justify-content: flex-end;
    align-items: center;
    display: flex;
  }

  .control-button {
    backdrop-filter: blur(30px);
    color: #fff;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    flex: none;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    transition:
      background-color 0.2s,
      color 0.2s;
    display: flex;
  }
  .control-button:hover {
    color: #000;
    background-color: #fff;
  }
  .control-button_icon {
    flex: none;
    align-self: center;
  }
  .control-indicator {
    color: white;
  }
  .is_reversed {
    transform: rotate(-180deg);
  }

  .video-wrapper {
    width: 100%;
    height: 100%;
  }
  .video-overlay {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
  }
  .video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .poster {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
</style>