---
import type { Details } from "../types/projectdetails";
type Props = {
  data: Details;
};

const { data } = Astro.props;

const isCover = data.coverMedia;
const heroTitle = data.title;
const heroDescription = data.intro;
const heroBackgroundColor = data.color;
---

<section class:list={["hero", { is_cover: isCover }]}>
  <div class="content">
    {heroTitle && <h1 class="hero-title">{heroTitle}</h1>}
    {heroDescription && <p class="hero-description">{heroDescription}</p>}
  </div>
</section>

<style define:vars={{ heroBackgroundColor }}>
  .hero {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 60vh;
    text-wrap: balance;
    background-color: var(--heroBackgroundColor);
  }
  .is_cover {
    background-color: red;
  }
  .content {
    padding: 6rem 8rem;
  }
  .hero-title {
    font-family: "Times New Roman", Times, serif;
    letter-spacing: -0.075rem;
    font-size: clamp(4rem, 8vw, 20rem);
  }
  .hero-description {
    font-size: clamp(1.5rem, 2vw, 4rem);
    letter-spacing: -0.025rem;
    line-height: 1.2;
    text-wrap: balance;
  }
</style>
