---
import type { Details } from '../types/projectdetails'
type Props = {
  data: Details
}

const { data } = Astro.props

const isCover = data.coverMedia
const heroTitle = data.title
const heroSubtitle = data.subtitle
const heroClients = data.clients
const heroDescription = data.intro
const heroBackgroundColor = data.color

console.log(data)
---

<section class:list={['hero', { is_cover: isCover }]}>
    <div class="grid gap-12 lg:grid-cols-16 md:gap-4 full">
       <div class="order-2 col-span-7 title ">
        <h3>Title</h3>
        {heroTitle && <h1 class="text-8xl hero-title">{heroTitle}</h1>}
      </div>
      {heroClients &&
      <div class="order-1 col-span-3 client">
        <h3>Client</h3>
        
        {heroClients.map((client:any) =>  <span class=""> {client.title} </span>)}
        
      </div>
}
      <div class="order-3 col-span-6 descritpion">
       <h3>Description</h3>
      {heroDescription && <p class="text-xl hero-description">{heroDescription}</p>}
      </div>
    
    
  </div>
  <!-- hero cover media -->
</section>

<style define:vars={{ heroBackgroundColor }}>
  .hero {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 60vh;
    text-wrap: balance;
    background-color: var(--heroBackgroundColor);
    padding: var(--site-padding);
  }
  .is_cover {
    /* background-color: red;  */
    /* wat was het idee ook alweer hier? */
  }
  .content {
    padding: 6rem 8rem;
  }
  .hero-title {
    letter-spacing: -0.075rem;
    font-size: var(--fs-5xl); 
    text-wrap: balance;
  }
  .hero-description {
    
    letter-spacing: -0.025rem;
    line-height: 1.2;
    text-wrap: balance;
  }
</style>
