---
---

<section class="page-intro">
  <div class="grid gap-12 md:grid-cols-2 content-baseline">
    <div class="font-bold col self-baseline text-lg/8">
      <slot name="column-one" />
    </div>
    <div class="font-bold col self-baseline text-4xl/tight">
      <slot name="column-two" />
    </div>
  </div>
</section>

<style>
  section {
    padding: var(--site-padding);
  }

  section div:nth-child(2) {
    /* color: Red; */
  }
</style>
