---
---
<section class="page-intro">
  <div class="container">
    <div class="col">
      <slot name="column-one" />
    </div>
    <div class="col">
      <slot name="column-two" />
    </div>
  </div>
</section>