---
---
<section class="page-intro">
  <div class="container">
    <div class="col">
      <slot name="intro" />
    </div>
    <div class="col">
      <slot name="statement" />
    </div>
  </div>
</section>