---
const { class: customClass } = Astro.props;
---

<section class={`page-intro ${customClass}`}>
  <div class="grid gap-12 md:grid-cols-2 content-baseline">
    <div class="col-1 col self-baseline">
      <slot name="column-one" />
    </div>
    <div class="col-2 col self-baseline">
      <slot name="column-two" />
    </div>
  </div>
</section>

<style>
  section {
    padding: 8rem var(--site-padding);
  }

  .col-1 {
    font-size: var(--fs-0);
    line-height:112.5%;
    color: var(--text);
    opacity: 0.7;
  }

  .col-2 {
    font-size: calc(2* var(--fs-0));
    line-height:112.5%;
    font-weight:600;
    letter-spacing: -0.0125em;
  }

  .page .col-1 {
    font-size: calc(var(--fs-1));
    line-height:112.5%;
    font-weight:600;
    letter-spacing: -0.0125em;
    color: var(--text);
    opacity: 1;
  }
  .page .col-2 {
    font-size: var(--fs-0);
    line-height:112.5%;
    color: var(--text);
    opacity: 0.7;
    font-weight: 400;
  }

  section div > div{
    max-width: 70ch
  }
</style>
