---
import {slugify} from '../lib/utils.js';

const {services} = Astro.props;
---
<ul class="tag-filter">
  {services &&
    services.map((service:any) => (
    <li>
      <a class="tag-button" data-service={slugify(service)} >{service}</a>
    </li>
  ))}
  <li class="tag-reset"></li>
</ul>


<script>
  //@ts-nocheck
  function filterProjects(service) {
    const projectCards = document.querySelectorAll('.project-card');
    projectCards.forEach(card => {
      const services = card.getAttribute('data-services').split(' ');
      if (services.includes(service) || service === 'all') {
        card.style.display = 'block';
      } else {
        card.style.display = 'none';
      }
    });
  }
  
  document.addEventListener('astro:page-load', function() {
    // Check of de benodigde elementen op de pagina aanwezig zijn
    const serviceButtons = document.querySelectorAll('.tag-button');
    const tagReset = document.querySelector('.tag-reset');
  
    if (serviceButtons.length === 0 || !tagReset) {
      // Stop als de elementen niet aanwezig zijn
      return;
    }
  
    serviceButtons.forEach(button => {
      button.addEventListener('click', () => {
        const activeService = button.getAttribute('data-service');
        filterProjects(activeService);
      });
    });
  
    // Voeg een knop toe om alle projecten te tonen
    const showAllButton = document.createElement('a');
    showAllButton.textContent = 'Reset';
    showAllButton.addEventListener('click', () => {
      filterProjects('all');
    });
    tagReset.append(showAllButton);
  
    // Reset bij het laden van de pagina
    filterProjects('all');
  
  }, { once: false });
  </script>
  

<style>
  ul {
    display: flex;
    flex-wrap: wrap;
    gap:0.25em 0.5em;
    font-size: var(--fs--1);
  }

  li {
    line-height: 1;
  }

  li::after {
    content: "/";
    opacity: 0.2;
    padding:0 0 0 0.25em;
  }

  li:last-child::after {
    content: "";
  }
  a {
    text-decoration: none!important;
    padding:0;
    cursor: pointer;
    
  }

</style>