---
import type { ActionError, ActionInputError } from 'astro:actions'
import ProjectCard from '../components/ProjectCard.astro'

const { layout, projects, fitCards } = Astro.props
---

<section
  class="my-24"
  class:list={[
    {
      'layout-grid': layout === 'grid',
      'layout-list': layout !== 'grid',
    },
  ]}
>
  <div class="container">
    <div class="grid items-start gap-12 project-list start lg:grid-cols-12">
      {
        projects &&
          projects.map((item: any) => {
            return <ProjectCard {...item} {fitCards} />
          })
      }
    </div>
  </div>
</section>

<style>
  .layout-grid {
    background-color: aqua;
  }
  .layout-list {
    background-color: yellow;
  }
</style>
