---
import {slugify} from '../lib/utils.js';

const {services} = Astro.props;
---
<ul class="tag-filter">
  {services &&
    services.map((service:any) => (
    <li>
      <button class="tag-button" data-service={slugify(service)} >{service}</button>
    </li>
  ))}
  <li class="tag-reset"></li>
</ul>


<script>
  //@ts-nocheck
  function filterProjects(service) {
    const projectCards = document.querySelectorAll('.project-card');
    projectCards.forEach(card => {
      const services = card.getAttribute('data-services').split(' ');
      if (services.includes(service) || service === 'all') {
        card.style.display = 'block';
      } else {
        card.style.display = 'none';
      }
    });
  }

document.addEventListener( 'astro:page-load', function() {
    const serviceButtons = document.querySelectorAll('.tag-button');
    serviceButtons.forEach(button => {
      button.addEventListener('click', () => {
        const activeService = button.getAttribute('data-service');
        filterProjects(activeService);
      });
    });

    // Add a button to show all projects
    const showAllButton = document.createElement('button');
    showAllButton.textContent = 'Reset';
    showAllButton.addEventListener('click', () => {
      filterProjects('all');
    });
    document.querySelector('.tag-reset').append(showAllButton);

    // Reset when page loads
    filterProjects('all');

},{ once: false });

</script>

<style>
  ul {
    display: flex;
    flex-wrap: wrap;
    gap:0 1rem;
  }

  li::after {
    content: "/";
    opacity: 0.2;
  }

  li:last-child::after {
    content: "";
  }

</style>