---
import ProjectCard from '../components/ProjectCard.astro'

const { projects, layout, fitCards } = Astro.props

const projectCards = projects.map((project: any) => ({
  title: project.projectHero?.details?.title || '',
  clientname: project.projectMeta?.projectClient?.nodes[0].title || '',
  size: project.projectMeta?.thumbnailGroup?.size?.toString() || '',
  imgsrc: project.projectMeta?.thumbnailGroup?.thumbnail?.node?.sourceUrl || '',
  imgalt: project.projectMeta?.thumbnailGroup?.thumbnail?.node?.altText || '',
  vidsrc: project.projectMeta?.thumbnailGroup?.vimeo || '',
  services: project.projectMeta?.services?.nodes || [],
  link: `/project/${project.slug}/`,
}))
---

<section
  class="my-32"
  class:list={[
    {
      'layout-grid': layout === 'grid',
      'layout-list': layout !== 'grid',
    },
  ]}
>
  <div class="project-list start grid gap-12">
    {
      projectCards &&
        projectCards.map((item: any) => {
          return <ProjectCard {...item} {fitCards} />
        })
    }
  </div>
</section>

<style is:global>
  section {
    padding: var(--site-padding);
  }

  .layout-grid {
    /* background-color: aqua; */
  }

  .layout-grid .project-list {
    align-items: center;
  }

  .layout-list {
    /* background: yellow; */
  }

  .layout-list .project-list {
    grid-template-columns: repeat(6, 1fr);
    align-items: start;
  }

  .project-card:hover,
  .project-card:focus-within {
    box-shadow: 0 0 0 0.5rem;
    box-shadow: none;

    cursor: pointer;
  }

  .project-card img,
  .project-card video {
    transform: scale(1.15);
    transition: all 1.4s var(--easing-easeOutExpo);
    opacity: 0.85;
  }

  .project-card:hover img,
  .project-card:hover video {
    transform: scale(1);
    opacity: 1;
  }
  .project-card:hover {
    transform: scale(0.98);
  }

  .project-content a {
    text-decoration: none !important;
    color: inherit !important;
  }

  .project-content a:focus {
    text-decoration: underline;
  }

  .project-content a::after {
    content: '';
    position: absolute;
    inset: 0;
  }

  .project-card {
    transition: all 0.4s var(--easing-easeOutExpo);
  }
  .project-card:hover {
    opacity: 1;
  }
  .project-card:hover ~ .project-card {
    opacity: 0.5;
  }
  .project-list:hover .project-card:not(:hover) {
    opacity: 0.1;
  }
  .project-list:hover .project-card:not(:hover) {
    opacity: 0.5;
  }
</style>
