---
import type { ActionError, ActionInputError } from 'astro:actions';
import ProjectCard from '../components/ProjectCard.astro'

const {projects, layout, fitCards} = Astro.props;

const projectCards = projects.map((project:any) =>({
  title: project.projectHero?.details?.title || "",
  clientname: project.projectMeta?.projectClient?.nodes[0].title || "",
  size: project.projectMeta?.thumbnailGroup?.size?.toString() || "",
  imgsrc: project.projectMeta?.thumbnailGroup?.thumbnail?.node?.sourceUrl || "",
  imgalt: project.projectMeta?.thumbnailGroup?.thumbnail?.node?.altText || "",
  vidsrc: project.projectMeta?.thumbnailGroup?.vimeo || "",
  services: project.projectMeta?.services?.nodes || []
}));

---

<section class="my-24" class:list={
  [
    {
       'layout-grid': layout === "grid",
       'layout-list': layout !== "grid"
     }
   ]
 }>
  <div class="container">
    <div class="grid items-start gap-12 project-list start lg:grid-cols-12">
      {projectCards && 
        projectCards.map((item: any) => {
          return <ProjectCard {...item} {fitCards} />
        } )
      }
    </div>
  </div>
</section>

<style>
  .layout-grid{
    background-color: aqua;
  }
  .layout-list{
    background-color: yellow;
  }
</style>
