---
import {slugify} from '../lib/utils.js';

const {services} = Astro.props;
---
<ul>
  {services &&
    services.map((service:any) => (
    <li>
      <button class="tag-button" data-service={slugify(service)} >{service}</button>
    </li>
  ))}
</ul>


<script>
  //@ts-nocheck

  // // Find all buttons with the `alert` class on the page.
  // const buttons = document.querySelectorAll('.tag-button');

  // // Handle clicks on each button.
  // buttons.forEach((button) => {
  //   button.addEventListener('click', () => {
  //     let service = this.dataset.service;
  //     filterProjects( service);
  //   });
  // });

  function filterProjects(service) {
    const projectCards = document.querySelectorAll('.project-card');
    projectCards.forEach(card => {
      const services = card.getAttribute('data-services').split(' ');
      if (services.includes(service) || service === 'all') {
        card.style.display = 'block';
      } else {
        card.style.display = 'none';
      }
    });
  }


 
document.addEventListener( 'astro:page-load', function() {
    const serviceButtons = document.querySelectorAll('.tag-button');
    serviceButtons.forEach(button => {
      button.addEventListener('click', () => {
        const activeService = button.getAttribute('data-service');
        filterProjects(activeService);
      });
    });

    // Add a button to show all projects
    const showAllButton = document.createElement('button');
    showAllButton.textContent = 'All';
    showAllButton.addEventListener('click', () => {
      filterProjects('all');
    });
    document.querySelector('ul').prepend(showAllButton);


},{ once: false });

</script>