---
import Widget from '../components/Widget.astro'
import Newsletter from '../components/Newsletter.astro'

const currentYear = new Date().getFullYear()
---

<footer class="bottom-0 flex flex-col min-h-screen md:fixed -z-10">
  <!-- <CallToAction /> -->
  
    <div class="flex flex-col justify-between flex-grow py-12 ">
      <h1>Narwal</h1>
      <p class="text-7xl">We’re always up to meet new people. Feel free to reach out to discuss your ambitions.</p>
      <div class="grid grid-cols-1 gap-4 md:grid-cols-4">
        <Widget title="Join our Newsletter">
          <Newsletter />
        </Widget>
        <Widget title="Address">
          <address>
            <ul role="list">
              <li>Narwal Creative</li>
              <li>Westerkade 4 — 5</li>
              <li>3511 HA Utrecht</li>
              <li>The Netherlands</li>
            </ul>
          </address>
        </Widget>
        <Widget title="Socialize">
          <ul role="list">
            <li><a href="https://www.instagram.com/narwalcreative/" target="_blank">Instagram</a></li>
            <li><a href="https://www.behance.net/jelmerscheffer" target="_blank">Behance</a></li>
            <li><a href="https://www.linkedin.com/company/narwal-creative" target="_blank">Linkedin</a></li>
          </ul>
        </Widget>
        <Widget title="Get in touch">
          <ul role="list">
            <li><a href="tel:+31302270459">+31 (0)30 227 04 59</a></li>
            <li><a href="mailto:info@narwalcreative.com?subject=Hello!">info@narwalcreative.com</a></li>
          </ul>
        </Widget>
      </div>
      
    </div>
  <div class="legal">
        <p>
          &copy; {currentYear} - Narwal Creative <a href="https://astro.build/">Terms & Conditions</a>
        </p>
      </div>
</footer>

<style>
  * > * {
    border: 1px solid red;

  }


footer > div {
    padding: var(--site-padding)
  }


  


  
</style>
