---
const { label } = Astro.props
---

<li class="tag rounded-full px-3 py-0.5 text-xs font-medium leading-none tracking-tighter">
  {label}  
</li>

<style>
  .tag {
    font-size: var(--fs--3);
    letter-spacing: -0.025em;
    background: var(--clr-tag);
    leading-trim: both;
    text-edge: cap alphabetic;
  }

  .tag a {
    text-decoration: none;
  }
</style>
