---
const { label } = Astro.props
---

<li class="tag rounded-full px-2 py-0.5">
  {label}
</li>

<style>
  .tag {
    background: var(--tag-bg);
  }

  .tag a {
    text-decoration: none;
  }
</style>
