/*---------------------*/
/* TAILWIND            */
/*---------------------*/

/* Note: install PostCSS Language Support for VScode, to remove "Unknown at Rule" */
/* Copy & Paste the following command in your browser: vscode:extension/csstools.postcss   */
@tailwind base;
@tailwind components;
@tailwind utilities;

/*---------------------*/
/* VARIABLES           */
/*---------------------*/

:root {
  /* Colors */
  --clr-white: #fff;
  --clr-brand: #ff0051;
  --clr-black: rgba(12, 12, 12);
  --clr-rgb-dark: 10, 10, 10;
  --clr-rgb-light: 240, 240, 240;
  --clr-tag: rgba(var(--clr-rgb-light), 0.5);

  /* Modes */
  --base: var(--clr-white);
  --text: var(--clr-black);

  /* Fonts */
  --font-system: system-ui, sans-serif;
  /* use as fallback */
  --font-body:
    'Helvetica Neue', Helvetica, Inter, Roboto, 'Arial Nova', 'Nimbus Sans',
    Arial, sans-serif;
  --font-mono:
    ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas,
    'DejaVu Sans Mono', monospace;
  --font-heading:
    Rockwell, 'Rockwell Nova', 'Roboto Slab', 'DejaVu Serif', 'Sitka Small',
    serif;

  /* Font Sizes */
  /* https://www.fluid-type-scale.com/ / https://bit.ly/4b7CNn3 */
  --fs-xs: clamp(0.89rem, -0.09vi + 0.91rem, 0.8rem);
  --fs-sm: clamp(1rem, 0vi + 1rem, 1rem);
  --fs-base: clamp(1.13rem, 0.13vi + 1.1rem, 1.25rem);
  --fs-md: clamp(1.27rem, 0.3vi + 1.21rem, 1.56rem);
  --fs-lg: clamp(1.42rem, 0.53vi + 1.32rem, 1.95rem);
  --fs-xl: clamp(1.6rem, 0.84vi + 1.43rem, 2.44rem);
  --fs-2xl: clamp(1.8rem, 1.25vi + 1.55rem, 3.05rem);
  --fs-3xl: clamp(2.03rem, 1.79vi + 1.67rem, 3.81rem);
  --fs-4xl: clamp(2.28rem, 2.49vi + 1.78rem, 4.77rem);
  --fs-5xl: clamp(2.57rem, 3.39vi + 1.89rem, 5.96rem);
  --fs-6xl: clamp(2.89rem, 4.56vi + 1.97rem, 7.45rem);
  --fs-7xl: clamp(3.25rem, 6.07vi + 2.03rem, 9.31rem);
  --fs-8xl: clamp(3.65rem, 7.99vi + 2.06rem, 11.64rem);

  /* --site-padding: clamp(1.6rem, 0.84vi + 1.43rem, 2.44rem); */
  /* --grid-gutter: clamp(1.6rem, 0.84vi + 1.43rem, 2.44rem); */
  /* --site-padding: var(--space-xl); */
  --site-padding: clamp(1rem, 0.2857rem + 3.5714vi, 6rem);
  --grid-gutter: var(--space-m);

  --radius-default: clamp(1rem, 0.7692rem + 1.0256vw, 2rem);

  --easing-easeOutBack: cubic-bezier(0.34, 1.56, 0.64, 1);
  --easing-easeInOutQuart: cubic-bezier(0.76, 0, 0.24, 1);
  --easing-easeOutExpo: cubic-bezier(0.16, 1, 0.3, 1);

  /*----------------------*/
  /* Colors
  /*----------------------*/
}

@media (prefers-color-scheme: dark) {
  :root {
    --base: var(--clr-black);
    --text: var(--clr-white);
    --clr-tag: rgba(var(--clr-rgb-light), 0.05);
    --clr-tag-text: rgba(var(--clr-rgb-light), 0.75);
    --clr-front-rgb: 255, 255, 255;
  }
}

html {
  color-scheme: dark light;
}

/* CSS-only solution using :has()
   the JS version is commented out lower down */
:root:has(#theme [value='☀️']:checked) {
  color-scheme: light;
  --base: var(--clr-white);
  --text: var(--clr-black);
  --clr-tag: rgba(var(--clr-rgb-dark), 0.05);
  --clr-tag-text: rgba(var(--clr-rgb-dark), 0.75);
  --clr-front-rgb: 0, 0, 0;
}

:root:has(#theme [value='🌑']:checked) {
  color-scheme: dark;
  --base: var(--clr-black);
  --text: var(--clr-white);
  --clr-tag: rgba(var(--clr-rgb-light), 0.05);
  --clr-tag-text: rgba(var(--clr-rgb-light), 0.75);
  --clr-front-rgb: 255, 255, 255;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  color: var(--text);
  background-color: var(--base);
  font-family: var(--font-body);
  font-size: 1rem;
  text-rendering: optimizeLegibility;
  /* text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px; */
  font-synthesis: none;
  /* line-height: 125%; */
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
}

main {
  background-color: var(--base);
  z-index: 5;
}

img {
  max-width: 100%;
}

.logo {
  width: 6rem;
  color: white;
}

.content {
  --gap: clamp(1rem, 6vw, 3rem);

  --inline: min(80ch, 100% - var(--gap) * 2);
  --content: min(80ch, 100% - var(--gap) * 2);
  --popout: minmax(0, 2rem);
  --feature: minmax(0, 5rem);
  --full: minmax(var(--gap), 1fr);

  display: grid; /* the grid */

  grid-template-columns:
    [full-start] var(--full)
    [feature-start] var(--feature)
    [popout-start] var(--popout)
    [content-start] var(--content) [content-end]
    var(--popout) [popout-end]
    var(--feature) [feature-end]
    var(--full) [full-end];
}

.content > * {
  grid-column: content;
}

/* Size-based grid positioning */
.content {
  grid-column: content;
}

.popout {
  grid-column: popout;
}

.feature {
  grid-column: feature;
}

.full {
  grid-column: full;
}

.imageblock p {
  font-size: var(--fs--2);
  opacity: 0.4;
  margin: 0.5rem 0 0 0;
}
footer {
  background: var(--text);
  color: var(--base);
}

.page p,
.col p {
  line-height: 112.5%;
}
